<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDisplayName</key><string>Mistype</string>
<key>CFBundleExecutable</key><string>MistypeIME</string>
<key>CFBundleIdentifier</key><string>org.mistype.inputmethod.Mistype</string>
<key>CFBundleName</key><string>Mistype</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>0.1</string>
<key>CFBundleVersion</key><string>1</string>
<key>LSMinimumSystemVersion</key><string>13.0</string>
<key>NSPrincipalClass</key><string>NSApplication</string>
<key>InputMethodConnectionName</key><string>MistypeServer</string>
<key>InputMethodServerControllerClass</key><string>MistypeInputController</string>
<key>LSUIElement</key><true/>
<key>TISInputSourceID</key><string>org.mistype.inputmethod.Mistype</string>
<key>TISIntendedLanguage</key><string>zh-Hant</string>
<key>tsInputMethodCharacterRepertoireKey</key><array><string>Hant</string></array>
<key>ComponentInputModeDict</key><dict>
  <key>tsInputModeListKey</key><dict>
    <key>org.mistype.inputmethod.Mistype.Zhuyin</key><dict>
      <key>TISIntendedLanguage</key><string>zh-Hant</string>
      <key>tsInputModeCharacterRepertoireKey</key><array><string>Hant</string><string>Han</string></array>
      <key>tsInputModeDefaultStateKey</key><true/>
      <key>tsInputModeIsVisibleKey</key><true/>
      <key>tsInputModePrimaryInScriptKey</key><true/>
      <key>tsInputModeScriptKey</key><string>smTradChinese</string>
    </dict>
  </dict>
  <key>tsVisibleInputModeOrderedArrayKey</key><array><string>org.mistype.inputmethod.Mistype.Zhuyin</string></array>
</dict>
</dict></plist>
