<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDisplayName</key><string>Misstype</string>
<key>CFBundleDevelopmentRegion</key><string>en</string>
<key>CFBundleLocalizations</key><array><string>en</string><string>zh-Hant</string><string>zh-Hans</string><string>ja</string></array>
<key>CFBundleExecutable</key><string>MisstypeIME</string>
<key>CFBundleIconFile</key><string>MisstypeIcon.png</string>
<key>CFBundleIdentifier</key><string>org.misstype.inputmethod.Misstype</string>
<key>CFBundleName</key><string>Misstype</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleSignature</key><string>BMST</string>
<key>CFBundleShortVersionString</key><string>0.1</string>
<key>CFBundleVersion</key><string>1</string>
<key>LSMinimumSystemVersion</key><string>13.0</string>
<key>NSPrincipalClass</key><string>NSApplication</string>
<key>InputMethodConnectionName</key><string>org.misstype.inputmethod.Misstype_Connection</string>
<key>InputMethodServerControllerClass</key><string>MisstypeInputController</string>
<key>LSHasLocalizedDisplayName</key><true/>
<key>LSUIElement</key><true/>
<key>NSSupportsSuddenTermination</key><false/>
<key>TICapsLockLanguageSwitchCapable</key><true/>
<key>TISInputSourceID</key><string>org.misstype.inputmethod.Misstype</string>
<key>TISIntendedLanguage</key><string>zh-Hant</string>
<key>TISIconIsTemplate</key><true/>
<key>tsInputMethodIconFileKey</key><string>MisstypeMenuIcon.tiff</string>
<key>tsInputMethodCharacterRepertoireKey</key><array><string>Hant</string></array>
<key>SUFeedURL</key><string>https://github.com/Yukaii/misstype/releases/latest/download/appcast.xml</string>
<key>SUEnableAutomaticChecks</key><true/>
<key>SUAutomaticallyUpdate</key><true/>
<key>SUEnableSystemProfiling</key><false/>
<key>SUEnableInstallerLauncherService</key><true/>
<key>ComponentInputModeDict</key><dict>
  <key>tsInputModeListKey</key><dict>
    <key>org.misstype.inputmethod.Misstype.Zhuyin</key><dict>
      <key>TISInputSourceID</key><string>org.misstype.inputmethod.Misstype.Zhuyin</string>
      <key>TISIntendedLanguage</key><string>zh-Hant</string>
      <key>tsInputModeMenuIconFileKey</key><string>MisstypeMenuIcon.tiff</string>
      <key>tsInputModeCharacterRepertoireKey</key><array><string>Hant</string><string>Han</string></array>
      <key>tsInputModeDefaultStateKey</key><true/>
      <key>tsInputModeIsVisibleKey</key><true/>
      <key>tsInputModePaletteIconFileKey</key><string>MisstypeMenuIcon.tiff</string>
      <key>tsInputModePrimaryInScriptKey</key><true/>
      <key>tsInputModeScriptKey</key><string>smUnicode</string>
    </dict>
  </dict>
  <key>tsVisibleInputModeOrderedArrayKey</key><array><string>org.misstype.inputmethod.Misstype.Zhuyin</string></array>
</dict>
</dict></plist>
